*.app
.app
*.flf
*.bclicense
*.g.xlf
.DS_Store
Thumbs.db
TestResults*.xml
bcptTestResults*.json
BuildOutput.txt
rad.json
.output/
.dependencies/
.buildartifacts/
.alpackages/
.packages/
.alcache/
.altemplates/
.altestrunner/
.snapshots/
cache_*
~$*
#Launch file
./.vscode/*
.vscode/*
.vscode/
#Symbols packages
/.alpackages/*
.alpackages/*
.alpackages/
ErrorNotifier/.vscode/launch.json
ErrorNotifier/app.json
.claude/settings.local.json
